<div class="side-bar-top"> 
  <div class="top-name">
    <%= link_to current_user.name , edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a hreh = "#">チャットを作成する</a>
  </div>
</div>

<div class="side-bar-bottom"> 
  <div class="room">
    <div class="room-name">
      <a href="#">testroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">testroom2</a>
    </div>
  </div>
</div>
